.cart {
  background-color: rgba(255, 153, 0, 0.3);
  padding: 25px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.btn-clearCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  border-radius: 4px;
  background: #ff3030;
  color: white;
  padding:0 16px;
  height: 40px;
}
