.product {
  position: relative;
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 7px;
}
.product-info {
    margin: 0 14px;
}
.product p {
  margin-top: 7px;
  margin-bottom: 0;
}
.product-name {
  margin-top: 0px;
  margin-bottom: 0;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
}
.product-price {
  margin-top: 11px;
  font-family: Lato;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.026px;
}
.product-details {
  margin-top: 25px;
}
.btn-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #95a0a7;
  background: #ffe0b3;
}
