.header{
    display: flex;
    background-color: #1C2B35;
    height: 80px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:white;
    margin-right: 30px;
}