.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.proceed-btn {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  border-radius: 4px;
  background: #F90;
  color: white;
  padding:0 16px;
  height: 40px;
  margin-top: 10px;
}
