.review-item {
  width: 570px;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  margin-bottom: 25px;
  padding: 8px 23px 8px 8px;
  display: flex;
  align-items: center;
  
}
.review-item img {
  width: 91px;
  height: 91px;
  border-radius: 6px;
}
.review-info {
  flex-grow: 1;
}
.review-info p {
  margin: 0 15px;
}
.review-title {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
}
.orange-text {
  color: orange;
}
/* delate button style */
.btn-delete {
  width: 55px;
  height: 55px;
  background-color: rgba(235, 87, 87, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.btn-deleteIcon{
    width: 37px;
    height: 37px;
    color: #eb5757
}
